/JavaApplication2/nbproject/private/
/Week_1/target/
/Testbed/target/
/Week_1_Practice/target/
/Week_1_2/target/
/Week2_class_exercise/target/
/Week2CodeAlong/target/
/Week2Summative/target/
/VendingMachine/nbproject/
/VendingMachine/target/
/VendingMachine2.0/nbproject/
/VendingMachine2.0/target/
/ClassRoster/target/
/ClassRoster/nbproject/
/FloorMastery/target/
/FloorMastery/nbproject/
/PracticeGame/nbproject/private/
/OpenWeatherPractice/nbproject/private/
/JSPractice/nbproject/private/
/VendingMachineWeb/nbproject/private/
/VendingmachineWeb2/nbproject/private/
/FactorizerSpringMVC/target/
/FactorizerJSPServlet/target/
/ContactListSpringMVC/target/
/VendingMachineWebSpringMVC/target/
/VendingMachineWebSpringMVC/nbproject/
/SuperZerosAndOnes/nbproject/
/SuperZerosAndOnes/target/